a{
    color: blue;
}
 footer {
     padding: 1em;
     color: white;
     background-color: black;
     clear: left;
     text-align: center;
 }
 body {
    background-color: #3E4551 !important;
}   
.carousel{
width:1390px;
height:560px;
}
#section-1 {
    z-index: 1;
    color: #fff;
    height: 100vh;
}
/*Parallax background*/
#section-1 .parallax-layer-back {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(54).jpg")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Section with dummy content*/
#section-2 {
    z-index: 2;
    position: relative;
    background: #fff;
    width: 100%;
}